<div class="codepelGallery">
    <div class="cards">
      {% include codepel-item.html title="10 day safari" image="/assets/thumbnails/2022-06-29-serengeti-best-photos/7-03/IMG_7900.jpg" %}
      {% include codepel-item.html title="Cruise to Antarctica" image="/assets/thumbnails/2023-01-31-antarctica/3-tay-head-joinville-island/IMG_0735.jpg" %}
      {% include codepel-item.html title="Diving in Bali" image="/assets/thumbnails/2022-09-30-nusa-penida/GH011219-3.jpg" %}
      {% include codepel-item.html title="Lantern making in Hội An" image="/assets/thumbnails/2022-09-06-lantern-making/step-3/IMG_4644.jpg" %}
      {% include codepel-item.html title="Photo shoot in Angkor Wat" image="/assets/thumbnails/2022-08-25-angkorwat/AngkorWat-Photoshoot/IMG_1776.jpg" %}
      {% include codepel-item.html title="Proposal in Seoul" image="/assets/thumbnails/2022-10-04-seoul/proposal/PXL_20221009_093745068.jpg" %}
      <!-- Paka, Swimming with dolphins, break antarctica into two (sun set and blue whale) -->
  </div>
</div>