<div class="simple-responsive-timeline">
  <div class="container-fluid">
    <div class="row example-basic">
      <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
        <ul class="timeline">
          <li class="timeline-item period">
            <div class="timeline-info"></div>
            <div class="timeline-marker title"></div>
            <div class="timeline-content">
              <h1 class="timeline-title">Timeline</h1>
            </div>
          </li>
          {% include timeline-item.html date="May 13, 2022" description="Katie and Tim quit their Jobs" %}
          {% include timeline-item.html date="May 22, 2022" title="Italy" description="We chose Italy as our Country in Europe so that we could attend the [Venice Biennale](/2022/06/01/venice-biennale.html)" %}
          {% include timeline-item.html date="June 10, 2022" title="Amsterdam" description="Spent a week in Amsterdam in order to get a direct flight to Tanzania" %}
          {% include timeline-item.html date="June 15, 2022" title="Tanzania" description="Climbed to the top of [Kilimanjaro](/2022/06/21/kilimanjaro.html), went on a [10 day Safari](/2022/06/29/serengeti-best-photos.html), and [adopted a cat](/2022/07/13/paka-lesson-in-flexibility.html) in Zanzibar" %}
          {% include timeline-item.html date="July 22, 2022" title="USA" description="Back to the states for [two weddings and a memorial](/2022/08/15/northamerica.html)" %}
          {% include timeline-item.html date="August 16, 2022" title="Singapore" description="A long layover in [Singapore](/2022/08/17/singapore.html)" %}
          {% include timeline-item.html date="August 18, 2022" title="Siem Reap" description="We added [Angkor Wat](/2022/08/25/siem-reap-angkor-wat.html) to the trip after reading [Four lost cities](https://www.techsploitation.com/#/nonfiction/) in prep for visiting [Pompeii](/2022/05/25/pompeii.html)" %}
          {% include timeline-item.html date="August 30, 2022" title="Vietnam" description="Vietnam was our 'main' stop in Asia. We made it to [Hanoi](/2022/08/30/hanoi-walking-tour.html), [Hạ Long Bay](http://localhost:4000/2022/09/03/halong-bay.html) and stopped in [Hoi An](/2022/09/08/hoian.html) due to [Tim getting COVID](/2022/09/09/COVID-hoian-DRAFT.html)" %}
          {% include timeline-item.html date="September 22, 2022" title="Bali" description="Not wanting to handover our passports to a foreign government for a week to extend our 30 day visa. We left Vietnam and decide to get [SCUBA certified in Amed](/2022/09/24/bali-amed-scubadiving-DRAFT.html) and [swim with Manta Rays](/2022/09/30/nusa-penida-and-kuta-utara-DRAFT.html)" %}
          {% include timeline-item.html date="October 4, 2022" title="Seoul, Korea" description="Met up with Tim's friend to get a private tour of [Seoul](/2022/10/04/seoul-DRAFT.html). Including north korean cold noodles and a tour of the blue house. And we got engaged with a joint proposal!" %}
          {% include timeline-item.html date="October 12, 2022" title="New Zealand" description="Sorry Australia. We counted a 2 month excursion around New Zealand as our Australia continent. While here we bought a car, traveled with family & friends, swam with dolphins, climbed a glacier, and did multiple great walks" %}
          {% include timeline-item.html date="December 12, 2022" title="[USA](/2022/12/24/christmas-DRAFT.html)" description="Back to the states for the holidays" %}
          {% include timeline-item.html date="January 6, 2023" title="[Chile](/posts/chile.html)" description="Penguin and Whale watching in [Punta Arenas](/2023/01/06/punta-arenas-DRAFT.html), visiting friends in [Puerto Varas](/2023/01/16/puerto-varas-DRAFT.html), and eating our way through [Santiago](/2023/01/20/santiago-DRAFT.html)" %}
          {% include timeline-item.html date="January 29, 2023" title="[Antarctica](/posts/antarctica.html)" description="Took a boat from Ushuaia, Argentina with Katies parents to see penguins, blue whales, the most amazing sunset" %}
          <li class="timeline-item period">
            <div class="timeline-info"></div>
            <div class="timeline-marker end"></div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>