---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

.thumbnail {
  min-width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s;

  &:hover {
    transform: scale(1.05);
  }
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  .gallery-item {
    flex-grow: 1;
    height: 200px;
    margin: 2px;
    border-radius: 2px;
    overflow: hidden;
  }
}

.site-nav {
  border: none;
}

.PageNavigation {
  font-size: 14px;
  display: block;
  width: auto;
  overflow: hidden;
  a {
    display: block;
    width: 50%;
    float: left;
    margin: 1em 0;
  }
  .next {
    text-align: right;
  }
}

.post-meta {
  display: flex;
  .p-author {
    color: #111111;
    font-size: 16px;
  }
}
.profile-picture-container {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 10px;
  img {
    width: auto;
    height: 100%;
  }
}


.caption {
  color: #555;
  font-size: 12px; 
  text-align: center;
  margin-bottom: 15px;
}